div {
    background-color: #DDD;
    /* Top Right Bottom Left */
    /* padding: 10px; => Top = 10px Right = 10px Bottom = 10px Left = 10px */
    padding: 10px;
    /* padding: 10px 20px; => Top & Bottom = 10px Left & Right = 20px */
    padding: 10px 20px;
    /* padding: 10px 20px 15px; => padding: 10px 20px 15px 20px */
    padding: 10px 20px 15px;
    /* Top = 0 Right = 0 Bottom = 0 Left = 10px */
    padding: 0 0 0 10px;
    padding: 0 0 10px; /* top=0;right=0;bottom:10;left=0 */
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    /* you can't give padding a negative value */
    
}